# **Basics of Python**

In [ ]:
print('Hello World Hi')

Hello World Hi

In [ ]:
print('DBMS Champion 101')

DBMS Champion 101

In [ ]:
student_ID = 11212115
student_name = '''Nayem'''
student_cgpa = 3.5
is_eligible = True

print(student_ID)
print(student_name)
print(student_cgpa)
print(is_eligible)

print(type(student_ID))
print(type(student_name))

11212115
Nayem
3.5
True
<class 'int'>
<class 'str'>

In [ ]:
x = 3
y = 3.5
z = 3 + 2j 

print(type(z))
print(z)
print(type(z.real))
print(z.real)
print(type(z))
print(z.imag)

<class 'complex'>
(3+2j)
<class 'float'>
3.0
<class 'complex'>
2.0

In [ ]:
# Taking Input 
a = input('Enter a number: ')
print('You have entered: '+a)

Enter a number: 5
You have entered: 5

In [ ]:
a = int(input('Enter a number: '))
a=a+10
print(a)

Enter a number: 10
20

In [ ]:
message = "Python Programming"
print(len(message))
print(message[1])
print(message[-2]) 
print(message[0:3])
print(message[2:5])
print(message.lower())
print(message.upper())
print(message[:5])
print(message[5:])

print(message.find("pro"))
print(message.find("Pro"))
print(message.replace("P", "J"))

18
y
n
Pyt

# **Operators**
* Arithmetic operator
* Logical
* Relational
* Shorthand

In [ ]:
# Arithmetric Operators

x = 11;
y = 5;

print(x+y)
print(x-y)
print(x*y)
print()

# **3 number reverse**

In [ ]:
num = int(input("Enter the number:"))

a = int(num%10)
num = num - a
num = num/10

b = int(num%10)
num = num - b
num = num/10

c = int(num%10)

print(str(a) + str(b) + str(c))

Enter the number:531
135

In [ ]:
#Relational Operators ---  <, >, <=, >=, ==, !=

print(2 < 5)
print(2 == 5)

True
False

In [ ]:
#Logical Operators

print(2 < 5 and 2 == 5)
print(2 < 5 and not 2 == 5)

In [ ]:
#Shorthand Assignment Operator --- ++, -+, *+, ...

# **Conditional Statement**

In [ ]:
gender = 'm'
types = "male"

if gender == 'F' or gender == 'f':
  print("Welcome to our beauty parlor!")
elif gender == 'm' and types == 'male' :
  print("Okay")
else:
  print("Sorry!, you are not allowed!!!")

Okay

In [ ]:
student = "Rahad Khan"
if 'A' in student:
  print("Found")
else:
  print("Not Found")

Not Found

In [ ]:
for i in range(5) :  #range(start, end, stepover)
  print(f'i:{i}')

i:0
i:1
i:2
i:3
i:4

In [ ]:
for i in range(2, 5) :  #range(start, end, stepover)
  print(f'j:{i}')

j:2
j:3
j:4

In [ ]:
for i in range(0, 10, 2) :  #range(start, end, stepover)
  print(f'k:{i}')

k:0
k:2
k:4
k:6
k:8

In [ ]:
print("*"*10)

for i in range(1, 6, 1) :  #range(start, end, stepover)
  print("* "*i)

**********
*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1, 6, 1) :  #range(start, end, stepover)
  print(" "*(6-i) + "* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *